<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E js</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/" method="POST">
        <input type="text" name="language" placeholder="language" id="" />
        <button type="submit">Add</button>
      </form>

      <ul>
        <% if(plNames){ %>
          <% for(let x=0; x<plNames.length; x++){ %>
            <li><%= plNames[x] %></li>
          <% } %>
      <% }else{ %>
      <p>no data found</p>
      <% } %>
      </ul>
    </main>
    <footer>
      <p>All right reserved by &copy; Muhammad Siam</p>
    </footer>
  </body>
</html>
